<!-- Page Content -->
<div id="sidebar">
  <ul class="sidebar-menu">
      <li class="toggle-sidebar"><a href="#" data-toggle="sidebar"><i class="fas fa-users"></i></a></li>
      <li><a href="/users/@me" class="current-server" data-toggle="tooltip" data-placement="right" data-title="Home"><i class="fas fa-home"></i>
</a></li>
      <% channels.forEach(function(channel){ %>
          <li><a href="/channel/<%= channel._id%>" class="current-server" data-toggle="tooltip" data-placement="right" data-title="<%=channel.channel_name%>"><%=channel.channel_name[0]%></a></li>
      <% }) %>
      <li><a href="#" class="join-server" data-start="modal-custom" data-target="#create-group" data-toggle="tooltip" data-placement="right" data-title="Join a Group"><i class="fa fa-plus"></i></a></li>
  </ul>
</div>
